<% include ./partials/header %>

	<div class="row justify-content-center">
		<div class="col-lg-8">
			<form action="/api/request" method="GET" class="form-inline">
				<div class="form-group mx-sm-3 mb-2">
					<label class="mx-sm-2" for="apiURL">Make API Request</label>
					<input class="form-control" type="text" name="apiURL" id="apiURL" required>
				</div>
				<button type="submit" class="btn btn-primary">Request</button>
			</form>
			<hr>
			<form action="/redirection/" method="GET" class="form-inline">
				<div class="form-group mx-sm-3 mb-2">
					<label class="mx-sm-2" for="playURL">Youtube Video URL</label>
					<input class="form-control" id="playURL" name="playURL">
				</div>
				<button type="submit" class="btn btn-primary">Play Song</button>
			</form>
		</div>
	</div>

	<% include ./partials/footer %>