<% include ./partials/header %>

    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div id="mainwrap">
                <div id="nowPlay">
                    <span id="npAction">Paused...</span>
                    <span id="npTitle" class="float-right"></span>
                </div>
                <div id="audiowrap">
                    <div id="audio0">
                        <audio id="audio-player"></audio>
                    </div>
                    <div id="tracks" class="d-flex justify-content-center p-2">
                        <i class="fas fa-step-backward fa-lg" id="btnPrev"></i>
                        <i class="fas fa-step-forward fa-lg" id="btnNext"></i>
                    </div>
                </div>
                <div id="plwrap">
                    <ul id="plList" class="list-group">
						<% playlistItems.forEach(function(item, i){ %>
							<% var trackNumber = item.track %>
							<% if (item.track.toString().length === 1) { %>
								<% trackNumber = "0" + trackNumber %>
                            <% } %>
							<li data-src="<%= item.src %>" data-index="<%= i %>" class="list-group-item"><div class="plItem"><span class="plNum"><%= trackNumber %>. </span><span class="plTitle"><%= item.name %></span><span class="plLength float-right"></span></div></li>
						<% }) %>
					</ul>
                </div>
            </div>
        </div>
	</div>

<% include ./partials/footer %>