<% include ./partials/header %>

        <p id="npTitle" class="text-center">
            <%= title %>
        </p>
        <div id="audioContainer">
                <audio class="js-player" autoplay preload="none" src="<%= src %>"></audio>
        </div>

<% include ./partials/footer %>