<% include ./partials/header %>
  <span id="player-page" style="display: none"></span>
  <div class='player-container'>
    <div class="alert alert-warning" role="alert" style="display: none"></div>
    <div class="song-info">
      <div id="song-title"><%= title %></div>
    </div>
    <div class="custom-player-controls">
      <i class="fas fa-step-backward fa-2x" id="previous-button" disabled></i>
      <i class="fas fa-play fa-2x" id="play-pause-button"></i>
      <i class="fas fa-step-forward fa-2x" id="next-button" disabled></i>
    </div>
    <audio id='audio-player' src="<%= src %>" preload="none"></audio>
  </div>

<% include ./partials/footer %>