/* Navbar */
.navbar {
    justify-content: start;
    margin-bottom: 2%;
}

.navbar-brand {
    padding-right: 30%;
}

/* Index Page */
.form-group label {
    font-size: large;
}

/* Search and Channel Page */
.header {
    color: #000;
    font-size: large;
}

.custom-card-search {
    display: contents;
}

.card {
    border: none;
    padding-bottom: 20px;
}

.card-title {
    width: 100%;
    word-wrap: break-word;
    color: #000;
}

.card-text {
    color: hsl(0, 0%, 53.3%);
    font-size: small;
    width: 400px;
    word-wrap: break-word;
}

.custom-card:hover {
    color: #fff;
    text-decoration: none;
}

.card-img-top {
    width: 180px;
}

.channel-link {
    color: hsl(0, 0%, 53.3%);
}

.channel-link:hover {
    color: #000;
    text-decoration: none;
}

/* Player and Playlist Page */
