label {
    font-size: large;
}

/* Search CSS */
.list-group-item {
    display: contents;
}

.card-header.border-0.w-25.text-center {
    background-color: #fff;
}

h5 {
    color: #000;
    font-size: medium;
}

p {
    color: hsl(0, 0%, 53.3%);
    font-size: small;
}

.card {
    border: none;
    padding-bottom: 20px;
}

.navbar {
    justify-content: start;
    margin-bottom: 2%;
}

.navbar-brand {
    padding-right: 30%;
}

.custom-card:hover {
    color: #fff;
    text-decoration: none;
}

.card-img-top {
    width: 180px;
}