.fa-home {
    display: none;
}

.fa-search,
.fa-home,
.fa-youtube {
    font-size: 1.3rem;
    line-height: 1.5;
    color: #fff;
    background-color: #343a40;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 2px;
}